<div class="m-walletDashboardBalance__wrapper">
  <m-walletTokenOnboarding
    *ngIf="!tokenOnboardingComplete"
    [hasAddress]="hasOnchainAddress"
    [phoneVerified]="phoneVerified"
    [dashboardView]="dashboardView"
    (onboardingComplete)="onTokenOnboardingCompleted()"
  ></m-walletTokenOnboarding>

  <m-walletBalance--tokens
    class="m-shadowboxLayout__body"
  ></m-walletBalance--tokens>
</div>

<div class="m-tabs__container">
  <li class="m-tabs__tab">
    <a
      routerLink="overview"
      routerLinkActive="selected"
      i18n="@@WALLET_V2__TOKENS__OVERVIEW"
    >
      Overview
    </a>
  </li>
  <li class="m-tabs__tab">
    <a
      routerLink="transactions"
      routerLinkActive="selected"
      i18n="@@WALLET_V2__TOKENS__TRANSACTIONS"
    >
      Transactions
    </a>
  </li>
  <li class="m-tabs__tab">
    <a
      routerLink="settings"
      routerLinkActive="selected"
      i18n="@@WALLET_V2__TOKENS__SETTINGS"
    >
      Settings
    </a>
  </li>
</div>

<div class="m-walletDashboardViews__viewsContainer" #dashboardViews>
  <router-outlet></router-outlet>
</div>
